<div class="hero-unit">
  <h1>Usun strone</h1>

  <%= form_for(:strona, :url => {:action => 'kasuj', :id =>@strona.id}) do |pole| %>
      <p>Czy napewno mam usunąc kategorię?</p>
      <p class="text-warning"><%= @strona.nazwa %></p>
      <div style="text-align: center;">
        <%= link_to 'Back', {:action => 'index'}, :class => 'btn btn-primary'%>
        <%= submit_tag("Usuń", :class => 'btn btn-danger') %>
      </div>
  <% end %>
</div>