<h1>New category</h1>

<p>
  <%= link_to 'Back', {:action => 'index'}%>
</p>


<%= form_for(:kategoria, :url => {:action => 'utworz'}) do |pole| %>

    <%= render(:partial => "form", :locals => {:pole => pole }) %>

    <div>
      <p>
        <%= submit_tag("Utworz") %>
      </p>
    </div>
<% end %>