<div class="hero-unit">
  <h1>Usun category</h1>

  <%= form_for(:kategoria, :url => {:action => 'kasuj', :id =>@kategoria.id}) do |pole| %>
      <p>Czy napewno mam usunąc kategorię?</p>
      <p class="text-warning"><%= @kategoria.nazwa %></p>
      <div style="text-align: center;">
          <%= link_to 'Back', {:action => 'index'}, :class => 'btn btn-primary'%>
          <%= submit_tag("Usuń", :class => 'btn btn-danger') %>
      </div>
  <% end %>
</div>