<!DOCTYPE html>
<html>
<head>
  <title>Serwis Szkolenia <%= " | #{@tytul_strony}" if @tytul_strony %> </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- nawigacja począte -->

<!-- nawigacja koniec -->

<!-- tresc strony początek -->

<!-- tresc strony koniec -->

<!-- stopka początek -->

<!-- stopka koniec -->

</body>
</html>
